<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery-2.2.3.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="gameId">
    @Html.Action("TwentyOneGame");
</div>